body {
    background-color: #98A869;
  }
  p {
    color: greenyellow;
  }
  p {
    font-family: "Times New Roman"; /* Specific font name */
    /* or */
    font-family: serif; /* Generic name */
    /* or */
    font-family: "Arial", sans-serif; /* Comma-separated list */
  }
  p {
    font-size: 12px;
    font-size: 1.5em;
    font-size: 100%;
  }
  h1 {
    color: #b76db2;
  }
  body {
    padding: 20px;
  }
  div {
    color: rgb(105, 216, 166);
  }
  
  .main {
    color: pink;
  }
  
  #special {
    color: pink;
  }
  table {
    width: 300px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  