body {
    background-color: #98A869;
  }
  p {
    color: black;
  }
  p {
    font-family: "Times New Roman"; /* Specific font name */
    /* or */
    font-family: serif; /* Generic name */
    /* or */
    font-family: "Arial", sans-serif; /* Comma-separated list */
  }

  .navbar { 
    display: flex; /* puts items in a row */ 
    gap: 20px; /* space between items */ 
    padding: 10px; 
    }
  p {
    font-size: 12px;
    font-size: 1.5em;
    font-size: 100%;
  }
  h1 {
    color: #b76db2;
  }
  body {
    padding: 20px;
  }


 div { 
  color: green;
}
  
  .main {
    color: pink;
  }
  
  #special {
    color: pink; /* ID selector */
  }
/* Specificity: div = 1 .main = 10 #special = 100 the ID selector has higher 
prority which is why that color sticks */


  table, th, td {
    border: 1px solid black;
  }
  th, td {
    background-color: #99a7a7;
  }
  
  