body {
    background-color: #98A869;
  }
  p {
    color: plum;
  }
  p {
    font-family: "Times New Roman"; /* Specific font name */
    /* or */
    font-family: serif; /* Generic name */
    /* or */
    font-family: "Arial", sans-serif; /* Comma-separated list */
  }
  p {
    font-size: 12px;
    font-size: 1.5em;
    font-size: 100%;
  }
  h1 {
    color: #b76db2;
  }
  body {
    padding: 20px;
  }
  div {
    color: rgb(105, 216, 166);
  }
  
  .main {
    color: pink;
  }
  
  #special {
    color: pink;
  }
 
  